<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <%-include('partials/styles.ejs') %>

   

</head>
<body>

    <%- include("partials/navigation") %>
    <main>
        <h1>Plantilla productos</h1>
        <div class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="card animated flipInY bg-dark p-3 border-secondary">
              <div class="card-header bg-dark text-white text-center">
                <h3>Producto</h3>
              </div>
              <div class="card-body">
                <form  method="post" >
                  <div class="mb-3">
                    <label for="email">Nombre:</label>
                    <!-- EL name sirve de identificador en el .ejs no el id -->
                    <input autocomplete="additional-name" name="nombre" id="nombre" class="form-control" type="text" placeholder="Nombre" />
                  </div>
                  <div class="mb-3">
                    <label for="email">Descripcion:</label>
                    <textarea
                    id="email"
                    autocomplete="additional-name"
                      class="form-control"
                      name="email"
                      cols="5"
                      rows="6"
                      placeholder="Descripcion"
                    ></textarea>
                  </div>
                  <button class="btn btn-primary btn-block"  onclick= guardar() >Save</button>
                </form>
              </div>
            </div>
        </div>
    </main>
    
<%- include("partials/footer") %>
<script>
  const guardar = () => {
console.log("SCRIPT OK")
  const email = document.querySelector("#email").value;
  const nombre = document.querySelector('#nombre').value;
 console.log( `name: ${nombre}, email ${email} ` )


    }
  
</script>


</body>

</html>