<!-- <nav>
    <ul>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a href='/productos'>Productos</a>
        </li>
        <li>
            <a href='/about'>About</a>
        </li>
    </ul>

</nav> -->
<!-- bg = background -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar Nodejs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- ms = marginstart -->
        <ul class="navbar-nav ms-auto">
      
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="About">About</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>